h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 48px;
    letter-spacing: -1px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 24px;
}

body {
    background-image: url(escritoriospro.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
 } 

 li img {
    width: 300px;
    height: auto;
    border-radius: 8px;
  }

li span {
    font-style: italic;
    color:aliceblue
}

li strong {
    font-style: italic;
    color:#ffffff
}